.home{
    height: 100%;
    display: flex;
    justify-content: center;
}

.home__title{
    margin-top: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0.7rem 0.7rem 0.7rem var(--background-color-dark);
}